<adf-toolbar>
  <adf-toolbar-title>
    <adf-breadcrumb root="APP.BROWSE.TRASHCAN.TITLE"> </adf-breadcrumb>
  </adf-toolbar-title>

  <div class="adf-toolbar--spacer"></div>
  <button
    mat-icon-button
    #btnRestore
    [adf-restore]="documentList.selection"
    (restore)="onRestore($event)"
  >
    <mat-icon>restore</mat-icon>
  </button>
  <button mat-icon-button (delete)="documentList.reload()" [adf-delete]="documentList.selection">
    <mat-icon>delete</mat-icon>
  </button>
</adf-toolbar>

<adf-document-list
  #documentList
  currentFolderId="-trashcan-"
  (preview)="showPreview($event)"
  [stickyHeader]="true"
  selectionMode="multiple"
  [multiselect]="true"
>
  <adf-custom-empty-content-template>
    <adf-empty-content icon="delete" [title]="'APP.BROWSE.TRASHCAN.EMPTY_STATE.TITLE'">
      <p class="adf-empty-content__text">
        {{ "APP.BROWSE.TRASHCAN.EMPTY_STATE.FIRST_TEXT" | translate }}
      </p>
      <p class="adf-empty-content__text">
        {{ "APP.BROWSE.TRASHCAN.EMPTY_STATE.SECOND_TEXT" | translate }}
      </p>
    </adf-empty-content>
  </adf-custom-empty-content-template>
  <data-columns>
    <data-column
      *ngIf="!isSmallScreen && (user$ | async)?.isAdmin"
      class="adf-data-table-cell--ellipsis"
      key="archivedByUser.displayName"
      title="APP.DOCUMENT_LIST.COLUMNS.DELETED_BY"
    >
    </data-column>
  </data-columns>
</adf-document-list>
<adf-pagination [target]="documentList"> </adf-pagination>
<adf-file-uploading-dialog></adf-file-uploading-dialog>
