<mat-nav-list class="adf-sidenav-linklist">
  <ng-container *ngFor="let group of groups; trackBy: trackById">
    <mat-divider></mat-divider>

    <a
      matTooltipPosition="after"
      [matTooltip]="menu.description | translate"
      *ngFor="let menu of group.items"
      mat-list-item
      [matTooltipDisabled]="mode != 'collapsed'"
      class="adf-sidenav-link"
      [routerLink]="menu.url"
      routerLinkActive="active"
    >
      <mat-icon matListIcon class="sidenav-menu-icon">{{ menu.icon }}</mat-icon>
      <div class="sidenav-menu-label" *ngIf="mode != 'collapsed'">
        {{ menu.title | translate }}
      </div>
    </a>
  </ng-container>
</mat-nav-list>
