<!-- <div class="sidenav">
  <ng-container [ngSwitch]="mode">
    <div
      *ngFor="let group of groups; trackBy: trackById"
      class="section"
      [ngClass]="'section--' + mode"
    >
      <ng-container *ngSwitchCase="'expanded'">
        <mat-list-item *ngFor="let item of group.items; trackBy: trackById">
          <ng-container *ngIf="expandedTemplate">
            <ng-template
              [ngTemplateOutlet]="expandedTemplate"
              [ngTemplateOutletContext]="{
                $implicit: item,
                state: 'expanded'
              }"
            >
            </ng-template>
          </ng-container>

          <ng-container *ngIf="!item.component">
            <app-expand-menu [item]="item"></app-expand-menu>
          </ng-container>

          <ng-container *ngIf="item.component">
            <adf-dynamic-component
              [data]="{ item: item, state: 'expanded' }"
              [id]="item.component"
            ></adf-dynamic-component>
          </ng-container>
        </mat-list-item>
      </ng-container>

      <ng-container *ngSwitchCase="'collapsed'">
        <div class="list-item" *ngFor="let item of group.items; trackBy: trackById">
          <ng-container *ngIf="collapsedTemplate">
            <ng-template
              [ngTemplateOutlet]="collapsedTemplate"
              [ngTemplateOutletContext]="{
                $implicit: item,
                state: 'collapsed'
              }"
            >
            </ng-template>
          </ng-container>

          <ng-container *ngIf="!item.component">
            <app-button-menu [item]="item"></app-button-menu>
          </ng-container>

          <ng-container *ngIf="item.component">
            <adf-dynamic-component
              [data]="{ item: item, state: 'collapsed' }"
              [id]="item.component"
            >
            </adf-dynamic-component>
          </ng-container>
        </div>
      </ng-container>
    </div>
  </ng-container>
</div> -->
<mat-nav-list class="adf-sidenav-linklist">
  <ng-container *ngFor="let group of groups; trackBy: trackById">
    <mat-divider></mat-divider>

    <a
      matTooltipPosition="after"
      [matTooltip]="menu.description | translate"
      *ngFor="let menu of group.items"
      mat-list-item
      [matTooltipDisabled]="mode != 'collapsed'"
      class="adf-sidenav-link"
      [routerLink]="menu.url"
    >
      <mat-icon matListIcon class="sidenav-menu-icon">{{ menu.icon }}</mat-icon>
      <div class="sidenav-menu-label" *ngIf="mode != 'collapsed'">
        {{ menu.title | translate }}
      </div>
    </a>
  </ng-container>
</mat-nav-list>
