<div class="overlay" *ngIf="loading; else loaded">
  <mat-spinner></mat-spinner>
</div>

<ng-template #loaded>
  <mat-card>
    <mat-card-header>
      <mat-card-title>Site Info</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-list>
        <mat-list-item>
          <h3 matLine>Title</h3>
          <p matLine>{{ site.title }}</p>
        </mat-list-item>
        <mat-list-item>
          <h3 matLine>Description</h3>
          <p matLine>{{ site.description }}</p>
        </mat-list-item>
        <mat-list-item>
          <h3 matLine>Visibility</h3>
          <p matLine>{{ site.visibility }}</p>
        </mat-list-item>
      </mat-list>
    </mat-card-content>
  </mat-card>
  <mat-card>
    <mat-card-header>
      <mat-card-title>
        Site Member
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-list>
        <mat-list-item>
          <person-search
            placeholder="Search person"
            (selectPerson)="selectPerson($event)"
            matLine
          ></person-search>
        </mat-list-item>
        <mat-list-item *ngFor="let member of members">
          <img matListAvatar [src]="getAvatarLink(member.person.avatarId)" />
          <h3 matLine>{{ member.person | fullName }}</h3>
          <p matLine>{{ member.role }}</p>
          <button mat-icon-button (click)="editSiteMember(member.id, member)">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button (click)="deleteSiteMember(member.id)">
            <mat-icon>delete</mat-icon>
          </button>
        </mat-list-item>
      </mat-list>
    </mat-card-content>
  </mat-card>
</ng-template>
