<ng-container *ngIf="nodeId">
  <adf-info-drawer [title]="'APP.INFO_DRAWER.TITLE' | translate">
    <adf-info-drawer-tab [label]="'APP.INFO_DRAWER.TABS.PROPERTIES' | translate">
      <adf-content-metadata-card [node]="node"></adf-content-metadata-card>
    </adf-info-drawer-tab>
    <adf-info-drawer-tab [label]="'APP.INFO_DRAWER.TABS.COMMENTS' | translate">
      <adf-comments [nodeId]="node.id"></adf-comments>
    </adf-info-drawer-tab>
    <adf-info-drawer-tab [label]="'APP.INFO_DRAWER.TABS.VERSIONS' | translate">
      <mat-card>
        <mat-card-content>
          <adf-version-manager [node]="node"> </adf-version-manager>
        </mat-card-content>
      </mat-card>
    </adf-info-drawer-tab>
    <adf-info-drawer-tab [label]="'APP.INFO_DRAWER.TABS.PERMISSIONS' | translate">
      <button mat-raised-button color="primary" (click)="opendialog($event)">
        {{ "PERMISSIONS.DIALOG.ADD_USER_OR_GROUP" | translate }}
      </button>
      <adf-permission-list #permissionList [nodeId]="node.id" (update)="onSuccess($event)">
      </adf-permission-list>
    </adf-info-drawer-tab>
  </adf-info-drawer>
</ng-container>
