<form [formGroup]="userForm" (ngSubmit)="onSubmit(userForm.value)">
  <h1 mat-dialog-title>{{ title }}</h1>
  <mat-dialog-content class="example-container">
    <mat-form-field>
      <input
        matInput
        type="text"
        placeholder=" email"
        formControlName="email"
        id="email"
        required
      />
      <mat-error *ngIf="hasError('email', 'required')">email is required</mat-error>
      <mat-error *ngIf="hasError('email', 'email')"></mat-error>
    </mat-form-field>
    <mat-form-field>
        <input
          matInput
          type="text"
          placeholder="userName"
          formControlName="userName"
          id="userName"
          required
        />
        <mat-error *ngIf="hasError('userName', 'required')">userName is required</mat-error>
      </mat-form-field>
    <mat-form-field>
      <input matInput type="text" placeholder="name" formControlName="firstName" id="firstName" />
      <mat-error *ngIf="hasError('firstName', 'required')">First Name is required</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput type="text" placeholder="lastName" formControlName="lastName" id="lastName" />
    </mat-form-field>
    <mat-form-field>
      <input matInput type="text" placeholder="password" formControlName="password" id="password" />
    </mat-form-field>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-button mat-dialog-close>No</button>
    <button mat-button type="reset" (click)="revert()">Revert</button>
    <button mat-button [disabled]="!userForm.valid" type="submit">Submit</button>
  </mat-dialog-actions>
</form>
