<adf-toolbar>
  <adf-toolbar-title>
    <adf-breadcrumb root="APP.BROWSE.RECENT.TITLE"> </adf-breadcrumb>
  </adf-toolbar-title>

  <div class="adf-toolbar--spacer"></div>
  <ng-container *ngFor="let entry of actions; trackBy: trackByActionId">
    <aca-toolbar-action [actionRef]="entry"></aca-toolbar-action>
  </ng-container>
</adf-toolbar>

<adf-document-list
  #documentList
  acaDocumentList
  acaContextActions
  currentFolderId="-recent-"
  selectionMode="multiple"
  [navigate]="false"
  [stickyHeader]="true"
  [imageResolver]="imageResolver"
  (node-dblclick)="onNodeDoubleClick($event.detail?.node)"
  (name-click)="onNodeDoubleClick($event.detail?.node)"
>
  <adf-custom-empty-content-template>
    <adf-empty-content
      icon="access_time"
      [title]="'APP.BROWSE.RECENT.EMPTY_STATE.TITLE'"
      subtitle="APP.BROWSE.RECENT.EMPTY_STATE.TEXT"
    >
    </adf-empty-content>
  </adf-custom-empty-content-template>

  <data-columns>
    <ng-container *ngFor="let column of columns; trackBy: trackById">
      <ng-container *ngIf="column.template && !(column.desktopOnly && isSmallScreen)">
        <data-column
          [key]="column.key"
          [title]="column.title"
          [type]="column.type"
          [format]="column.format"
          [class]="column.class"
          [sortable]="column.sortable"
        >
          <ng-template let-context>
            <adf-dynamic-column [id]="column.template" [context]="context"> </adf-dynamic-column>
          </ng-template>
        </data-column>
      </ng-container>

      <ng-container *ngIf="!column.template && !(column.desktopOnly && isSmallScreen)">
        <data-column
          [key]="column.key"
          [title]="column.title"
          [type]="column.type"
          [format]="column.format"
          [class]="column.class"
          [sortable]="column.sortable"
        >
        </data-column>
      </ng-container>
    </ng-container>
  </data-columns>
</adf-document-list>
<adf-pagination [target]="documentList"> </adf-pagination>
