<adf-toolbar>
  <adf-toolbar-title>
    <adf-breadcrumb class="files-breadcrumb" root="Personal Files"> </adf-breadcrumb>
  </adf-toolbar-title>

  <div class="adf-toolbar--spacer"></div>
  <adf-upload-button
    [uploadFolders]="true"
    [rootFolderId]="documentList.currentFolderId || '-my-'"
    [adf-check-allowable-operation]="'create'"
    (success)="uploadSuccess($event)"
  >
  </adf-upload-button>
  <adf-upload-button
    [uploadFolders]="false"
    [rootFolderId]="documentList.currentFolderId || '-my-'"
    [adf-check-allowable-operation]="'create'"
    (success)="uploadSuccess($event)"
  >
  </adf-upload-button>
</adf-toolbar>

<adf-document-list
  #documentList
  currentFolderId="-my-"
  [contextMenuActions]="true"
  [contentActions]="true"
  [stickyHeader]="true"
  (name-click)="goDetail($event.detail?.node)"
  (node-dblclick)="onNodeDoubleClick($event.detail?.node)"
>
  <data-columns>
    <ng-container *ngFor="let column of columns; trackBy: trackById">
      <ng-container *ngIf="column.template && !(column.desktopOnly && isSmallScreen)">
        <data-column
          [key]="column.key"
          [title]="column.title"
          [type]="column.type"
          [format]="column.format"
          [class]="column.class"
          [sortable]="column.sortable"
        >
          <ng-template let-context>
            <adf-dynamic-column [id]="column.template" [context]="context"> </adf-dynamic-column>
          </ng-template>
        </data-column>
      </ng-container>

      <ng-container *ngIf="!column.template && !(column.desktopOnly && isSmallScreen)">
        <data-column
          [key]="column.key"
          [title]="column.title"
          [type]="column.type"
          [format]="column.format"
          [class]="column.class"
          [sortable]="column.sortable"
        >
        </data-column>
      </ng-container>
    </ng-container>
  </data-columns>
</adf-document-list>
<adf-pagination [target]="documentList"> </adf-pagination>
<adf-file-uploading-dialog></adf-file-uploading-dialog>
