<adf-toolbar>
  <adf-toolbar-title>
    <adf-breadcrumb
      class="files-breadcrumb"
      [root]="title"
      [folderNode]="node"
      (navigate)="onBreadcrumbNavigate($event)"
    >
    </adf-breadcrumb>
  </adf-toolbar-title>

  <div class="adf-toolbar--spacer"></div>
  <app-create-menu [expanded]="false"></app-create-menu>
  <ng-container *ngFor="let entry of actions; trackBy: trackByActionId">
    <app-toolbar-action [actionRef]="entry"></app-toolbar-action>
  </ng-container>
</adf-toolbar>

<adf-document-list
  #documentList
  appDocumentList
  appContextActions
  [allowDropFiles]="true"
  [navigate]="false"
  [currentFolderId]="node?.id"
  [stickyHeader]="true"
  [imageResolver]="imageResolver"
  (name-click)="onNodeDoubleClick($event.detail?.node)"
  (node-dblclick)="onNodeDoubleClick($event.detail?.node)"
>
  <data-columns>
    <ng-container *ngFor="let column of columns; trackBy: trackById">
      <ng-container *ngIf="column.template && !(column.desktopOnly && isSmallScreen)">
        <data-column
          [key]="column.key"
          [title]="column.title"
          [type]="column.type"
          [format]="column.format"
          [class]="column.class"
          [sortable]="column.sortable"
        >
          <ng-template let-context>
            <adf-dynamic-column [id]="column.template" [context]="context"> </adf-dynamic-column>
          </ng-template>
        </data-column>
      </ng-container>

      <ng-container *ngIf="!column.template && !(column.desktopOnly && isSmallScreen)">
        <data-column
          [key]="column.key"
          [title]="column.title"
          [type]="column.type"
          [format]="column.format"
          [class]="column.class"
          [sortable]="column.sortable"
        >
        </data-column>
      </ng-container>
    </ng-container>
  </data-columns>
</adf-document-list>
<adf-pagination appPagination [target]="documentList"> </adf-pagination>

<mat-sidenav *ngIf="infoDrawerOpened$ | async" [mode]="'over'" [opened]="infoDrawerOpened$ | async">
  <app-info-drawer [node]="selection.last"></app-info-drawer>
</mat-sidenav>
