<adf-toolbar>
  <adf-toolbar-title>
    <adf-breadcrumb
      class="files-breadcrumb"
      root="Personal Files"
      [target]="documentList"
      [folderNode]="documentList.folderNode"
    >
    </adf-breadcrumb>
  </adf-toolbar-title>

  <div class="adf-toolbar--spacer"></div>
  <adf-upload-button
    [uploadFolders]="true"
    [rootFolderId]="documentList.currentFolderId || '-my-'"
    [adf-check-allowable-operation]="'create'"
    (success)="uploadSuccess($event)"
  >
  </adf-upload-button>
  <adf-upload-button
    [uploadFolders]="false"
    [rootFolderId]="documentList.currentFolderId || '-my-'"
    [adf-check-allowable-operation]="'create'"
    (success)="uploadSuccess($event)"
  >
  </adf-upload-button>
</adf-toolbar>

<adf-document-list
  #documentList
  currentFolderId="-my-"
  (preview)="showPreview($event)"
  [contextMenuActions]="true"
  [contentActions]="true"
  [stickyHeader]="true"
>
  <content-actions>
    <content-action icon="cloud_download" target="document" title="Download" handler="download">
    </content-action>

    <content-action
      icon="edit"
      target="document"
      title="Edit"
      permission="update"
      [disableWithNoPermission]="true"
      (execute)="editFile($event)"
    >
    </content-action>

    <content-action
      icon="content_copy"
      target="document"
      title="Copy"
      permission="update"
      [disableWithNoPermission]="true"
      (error)="onContentActionError($event)"
      (success)="onContentActionSuccess($event)"
      (permissionEvent)="onPermissionsFailed($event)"
      handler="copy"
    >
    </content-action>

    <content-action
      icon="redo"
      target="folder"
      title="Move"
      permission="update"
      [disableWithNoPermission]="true"
      (error)="onContentActionError($event)"
      (success)="onContentActionSuccess($event)"
      (permissionEvent)="onPermissionsFailed($event)"
      handler="move"
    >
    </content-action>
    <content-action
      icon="delete"
      title="Delete"
      permission="delete"
      disableWithNoPermission="true"
      handler="delete"
      (error)="onContentActionError($event)"
      (success)="onContentActionSuccess($event)"
      (permissionEvent)="onPermissionsFailed($event)"
      (execute)="myCustomActionAfterDelete($event)"
    >
    </content-action>
  </content-actions>
</adf-document-list>
<adf-pagination [target]="documentList"> </adf-pagination>
<adf-file-uploading-dialog></adf-file-uploading-dialog>
