<adf-toolbar>
  <adf-toolbar-title>
    <adf-breadcrumb root="APP.BROWSE.GROUPS.TITLE"> </adf-breadcrumb>
  </adf-toolbar-title>

  <div class="adf-toolbar--spacer"></div>
  <app-create-menu [expanded]="false"></app-create-menu>
  <ng-container *ngFor="let entry of actions; trackBy: trackByActionId">
    <app-toolbar-action [actionRef]="entry"></app-toolbar-action>
  </ng-container>
</adf-toolbar>
<adf-document-list
  #documentList
  appDocumentList
  appContextActions
  [loading]="isLoading"
  [node]="list"
  selectionMode="single"
  [navigate]="false"
  [imageResolver]="imageResolver"
>
  <adf-custom-empty-content-template>
    <adf-empty-content
      icon="person"
      [title]="'APP.BROWSE.GROUPS.EMPTY_STATE.TITLE'"
      subtitle="APP.BROWSE.GROUPS.EMPTY_STATE.TEXT"
    >
    </adf-empty-content>
  </adf-custom-empty-content-template>

  <data-columns>
    <ng-container *ngFor="let column of columns; trackBy: trackById">
      <ng-container *ngIf="column.template && !(column.desktopOnly && isSmallScreen)">
        <data-column
          [key]="column.key"
          [title]="column.title"
          [type]="column.type"
          [format]="column.format"
          [class]="column.class"
          [sortable]="column.sortable"
        >
          <ng-template let-context>
            <adf-dynamic-column [id]="column.template" [context]="context"> </adf-dynamic-column>
          </ng-template>
        </data-column>
      </ng-container>

      <ng-container *ngIf="!column.template && !(column.desktopOnly && isSmallScreen)">
        <data-column
          [key]="column.key"
          [title]="column.title"
          [type]="column.type"
          [format]="column.format"
          [class]="column.class"
          [sortable]="column.sortable"
        >
        </data-column>
      </ng-container>
    </ng-container>
  </data-columns>
</adf-document-list>
<adf-pagination appPagination [pagination]="pagination" (change)="onChangePagination($event)">
</adf-pagination>
