<adf-toolbar>
  <adf-toolbar-title>
    <adf-breadcrumb root="APP.BROWSE.TRASHCAN.TITLE"> </adf-breadcrumb>
  </adf-toolbar-title>

  <div class="adf-toolbar--spacer"></div>
  <ng-container *ngFor="let entry of actions; trackBy: trackByActionId">
    <app-toolbar-action [actionRef]="entry"></app-toolbar-action>
  </ng-container>
</adf-toolbar>

<adf-document-list
  #documentList
  appDocumentList
  appContextActions
  currentFolderId="-trashcan-"
  (preview)="showPreview($event)"
  [stickyHeader]="true"
  [imageResolver]="imageResolver"
  selectionMode="multiple"
  [navigate]="false"
>
  <adf-custom-empty-content-template>
    <adf-empty-content icon="delete" [title]="'APP.BROWSE.TRASHCAN.EMPTY_STATE.TITLE'">
      <p class="adf-empty-content__text">
        {{ "APP.BROWSE.TRASHCAN.EMPTY_STATE.FIRST_TEXT" | translate }}
      </p>
      <p class="adf-empty-content__text">
        {{ "APP.BROWSE.TRASHCAN.EMPTY_STATE.SECOND_TEXT" | translate }}
      </p>
    </adf-empty-content>
  </adf-custom-empty-content-template>

  <data-columns>
    <ng-container *ngFor="let column of columns; trackBy: trackById">
      <ng-container *ngIf="column.template && !(column.desktopOnly && isSmallScreen)">
        <data-column
          [key]="column.key"
          [title]="column.title"
          [type]="column.type"
          [format]="column.format"
          [class]="column.class"
          [sortable]="column.sortable"
        >
          <ng-template let-context>
            <adf-dynamic-column [id]="column.template" [context]="context"> </adf-dynamic-column>
          </ng-template>
        </data-column>
      </ng-container>

      <ng-container *ngIf="!column.template && !(column.desktopOnly && isSmallScreen)">
        <data-column
          [key]="column.key"
          [title]="column.title"
          [type]="column.type"
          [format]="column.format"
          [class]="column.class"
          [sortable]="column.sortable"
        >
        </data-column>
      </ng-container>
    </ng-container>

    <data-column
      *ngIf="!isSmallScreen && (user$ | async)?.isAdmin"
      class="adf-ellipsis-cell"
      key="archivedByUser.displayName"
      title="APP.DOCUMENT_LIST.COLUMNS.DELETED_BY"
    >
    </data-column>
  </data-columns>
</adf-document-list>
<adf-pagination appPagination [target]="documentList"> </adf-pagination>
<adf-file-uploading-dialog></adf-file-uploading-dialog>
