<adf-sidenav-layout
  #layout
  [sidenavMin]="70"
  [sidenavMax]="200"
  [stepOver]="600"
  [hideSidenav]="false"
  [expandedSidenav]="false"
  [expandedSidenav]="expandedSidenav"
  (expanded)="onExpanded($event)"
>
  <adf-sidenav-layout-header>
    <ng-template let-toggleMenu="toggleMenu">
      <app-header (toggleClicked)="toggleMenu()"></app-header>
    </ng-template>
  </adf-sidenav-layout-header>

  <adf-sidenav-layout-navigation>
    <ng-template let-isMenuMinimized="isMenuMinimized">
      <app-sidenav [mode]="isMenuMinimized() ? 'collapsed' : 'expanded'"></app-sidenav>
    </ng-template>
  </adf-sidenav-layout-navigation>
  <adf-sidenav-layout-content>
    <ng-template>
      <router-outlet></router-outlet>
    </ng-template>
  </adf-sidenav-layout-content>
</adf-sidenav-layout>
<adf-file-uploading-dialog position="left"></adf-file-uploading-dialog>
<mat-sidenav *ngIf="infoDrawerOpened$ | async" [mode]="'over'" [opened]="infoDrawerOpened$ | async">
  <app-info-drawer [node]="selection.last"></app-info-drawer>
</mat-sidenav>
