<adf-sidenav-layout
  #layout
  [sidenavMin]="70"
  [sidenavMax]="200"
  [stepOver]="780"
  [hideSidenav]="false"
  [expandedSidenav]="false"
  [expandedSidenav]="expandedSidenav"
  (expanded)="onExpanded($event)"
>
  <adf-sidenav-layout-header>
    <ng-template let-toggleMenu="toggleMenu">
      <app-header (toggleClicked)="toggleMenu()"></app-header>
    </ng-template>
  </adf-sidenav-layout-header>

  <adf-sidenav-layout-navigation>
    <ng-template let-isMenuMinimized="isMenuMinimized">
      <router-outlet name="sidebar"></router-outlet>
      <!-- <app-sidenav [isMenuMinimized]="isMenuMinimized()"></app-sidenav> -->
    </ng-template>
  </adf-sidenav-layout-navigation>
  <adf-sidenav-layout-content>
    <ng-template>
      <div class="app-layout full-height">
        <router-outlet></router-outlet>
      </div>
    </ng-template>
  </adf-sidenav-layout-content>
</adf-sidenav-layout>
